@{
    ViewBag.Title = "Ethical Companies";
}


			
				<h2>Browse by issues</h2>
							
				<div style="margin:0 auto; width:510px; display:block;">
					<input class="title" placeholder="Issues important to me ...">
					<a class="button large green" style="float:right;margin-top:7px">Go &raquo;</a>
				</div>
			
				<hr class="space">
				
				<h2 class="txt_center">Deforestation</h2>
				
				<img src="@Url.Content("~/Content/images/deforestation.jpg")">
				<hr class="space">
				
				<div class="span-12">
				
					<div class="company_versus_item span-12 last" >
						<div class="span-3">
							<img width="100" src="http://www.socialgloo.co.uk/wp-content/uploads/2010/03/nestle-logo.jpeg">
						</div>
						<div class="span-9 last">
							<h3>Nestlé</h3>
							<p>Nestlé have developed a plan which will identify and remove any companies in their supply chain with links to deforestation so their products will have "no deforestation footprint". These companies include the infamous Sinar Mas, and this move will also have implications for the likes of Cargill. This plan still needs to be followed up with action, and The Forest Trust (TFT) - an independent organisation Greenpeace has worked with before - will be closely monitoring Nestlé's progress. In fact, TFT worked on the plan and will be making sure Nestlé stick to it.</p>
							<p>Nestlé is not the only company involved in the palm oil and paper products industry and while this is a fantastic result, there's still a lot more to do before the destruction of Indonesia's rainforests is brought to a halt.</p>
						</div>					
					</div>
					
				</div>
				
				<div class="span-12 last">
				
					<div class="company_versus_item span-12 last" >
						<div class="span-3">
							<img width="100" src="http://1.bp.blogspot.com/_gNEIje54OUU/THYRMyrhxFI/AAAAAAAAAJ4/z09CHi9_7FE/s1600/Mattel+Inc.,+Barbie+dolls,+Ken,+Mattel+toys.jpg">
						</div>
						<div class="span-9 last">
							<h3>Mattel</h3>
							<p>Toying with extinction is Barbie’s maker – Mattel.</p>
							<p>Research has unveiled that the world’s biggest toy manufacturer buys its paper products from Asia Pulp and Paper (APP) – the notorious Indonesian forest destroyer. APP is clearing Indonesia’s last remaining rainforests, destroying endangered species’ habitat and accelerating climate change.</p>
							<p>It also has a track record of corruption and human rights abuse. By using products from APP, Mattel is a key part of this chain of destruction.</p>
						</div>					
					</div>
					
					
				</div>
			
			
			</div>
			
			
			
			
			
